/* Move down body because the fixed navbar is 50px tall */
body {
  padding-top: 50px;
}

.jumbotron {
  text-align: center;
}

.btn-lg {
  font-size: 36px;
}

ul.nav, .jumbotron h1 {
  font-family: "Arvo", courier, serif;
}
